
  <footer class="site-footer">

    <div class="navbar is-fixed-bottom maxwidth
          is-white has-text-centered is-vcentered
          white z-depth-3 hoverable">



      
        
       Devduara0 &copy; {{ metadata.now | date("Y") }}
      <div class="column">
       <span class="icon-text">
  <span class="icon  icon is-medium">
    
    
    <a href="https://t.me/cahgentoo">

 <i class="fab fa-twitter"></i>

</a>
  </span>
  
</span>

<span class="icon-text">
  <span class="icon icon is-medium">
    
    <a href="https://www.instagram.com/devduara0/">  
   
    <i class="fab fa-instagram"></i>
    </a>
   
  </span>
  
</span>

 <span class="icon-text">
  <span class="icon  icon is-medium">
    
    <a href="https://github.com/devduara0/">
       
    
    <i class="fab fa-github"></i>

   </a>
  </span>
  
</span>
     
     
     </div>

        
       
        
        

   

    </div>
  </footer>



