
  <footer class="site-footer">

    <div class="navbar is-fixed-bottom maxwidth
          is-white has-text-centered is-vcentered
          white z-depth-3 hoverable">



      <div class="column">
        
       
       
        
       
   
      
       <span class="icon-text">
  <span class="icon  icon is-medium">
    
    <i class="fab fa-twitter"></i>
  </span>
  
</span>

<span class="icon-text">
  <span class="icon icon is-medium">
    
    <i class="fab fa-instagram"></i>
  </span>
  
</span>

 <span class="icon-text">
  <span class="icon  icon is-medium">
    
    <i class="fab fa-github"></i>
  </span>
  
</span>
       
     
     </div>
<div class="column">
        
       
        &copy; {{ metadata.now | date("Y") }}
        

   </div>

    </div>
  </footer>

