{% extends "layouts/column-single.njk" %}

{% block main_color %}{{ color or 'brown' }}{% endblock %}

{% block pagination %}  
  {% set color = color or 'brown' %}
  {% include "pagination/06-screenreader.njk" %}
{% endblock %}

{% block pagination_all %}  
  {% include "pagination/01-simple.njk" %}
  {% include "pagination/02-number.njk" %}
  {% include "pagination/03-adjacent.njk" %}
  {% include "pagination/04-indicator.njk" %}
  {% include "pagination/05-responsive.njk" %}
  {% include "pagination/06-screenreader.njk" %}
{% endblock %}
