
{% extends "layouts/column-single.njk" %}

{% block main %}
  {%- set color %}{{ color or 'blue-grey' }}{% endset -%}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper {{ color }}">
      <div class="blog white z-depth-3 hoverable">

        <article class="blog-body has-text-centered"
                 itemprop="articleBody">
          {{ content | safe }}
        </article>

      </div>
    </section>

  </main>
{% endblock %}


{% extends "layouts/columns-double.njk" %}




{% block aside %}
  <aside class="column is-one-thirds">
    {% include "widget/recent-posts.njk" %}
    {% include "widget/tags.njk" %}
  </aside>
{% endblock %}
