{% set color = 'teal' %}



<div class="widget-header {{ color }} lighten-4">
{% block widget_header %}
  <strong>Wasiliana nasi</strong>
  <span class="fa fa-newspaper is-pulled-right"></span>
{% endblock %}

{% block widget_body %}


<form
  action="https://formspree.io/p/1615048538327089110/f/contact"
  method="POST"
>
  

    <input class="input is-success" type="email" placeholder="bob@gmail.com"  name="email">
    
    <div class="control">
    <input type="telephone" name="telephone" class="input" id="telephone" placeholder="(555) 555-5555">
    </div>
   <textarea class="textarea" name="message"></textarea>
     
  
  <button class="button is-primary">Tuma</button>
  
{% endblock %}
</form>
</div>

  
    
      
    
 

