{% set color = 'teal' %}



<div class="widget-header {{ color }} lighten-4">

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">From</label>
  </div>

<form
  action="https://formspree.io/p/1615048538327089110/f/contact"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email" />
  </label>

  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <button type="submit">Send</button>
</form>
</div>

  
    
      
    
 

