{% set color = 'teal' %}



<div class="widget-header {{ color }} lighten-4">
{% block widget_header %}
  <strong>Wasiliana nasi</strong>
  <span class="fa fa-newspaper is-pulled-right"></span>
{% endblock %}

{% block widget_body %}


<form
  action="https://formspree.io/p/1615048538327089110/f/contact"
  method="POST"
>
  

    <input class="input is-success" type="email" name="email" placeholder="bob@gmail.com">

    <input class="input" type="tel" placeholder="Your phone number">
    
  
   
     <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
  
  <button class="button is-primary">Tuma</button>
  
{% endblock %}
</form>
</div>

  
    
      
    
 

