---
layout    : page 
title     : Kuhusu sisi
---

<p>   


<strong>Devduara0</strong> ni tuvuti ambayo lengo lake niku chapisha 
<strong>makala</strong> za jinsi ambayo unaweza kutumia <strong>tekinologia</strong> katika 
mazingira yako ili <strong>kurahisisha</strong>  shuhuli mbalimbali, hapa utapata <strong>mbinu</strong>  
na <strong>dondoo</strong> mbali mbali za jinsi ambanyo unaweza kutumia <strong>tekinologia</strong>.
na mifumo ya TEHAMA kwenye nyanja mbali mbali mazingatio yakiwa kwenye uchumi.

Lengo letu nikuona watu wetu kwenye jamaii wananufaika na teknologia kwa namna moja au nyingine hususani kwenye kurahisisha michakato ya shughuli za kila siku. 

Tuliamua kuchagua lugha ya <strong>kiswahili</strong>kutokana na <strong>uhaba</strong> wa makala kamahizi kwa lugha hii <strong>"Kiswahili"</strong>. 

Sababu nyingine kubwa zaidi ni kwamba <strong>lugha</strong> za <strong/>tekinologia ya 
komputa</strong> zimeandikwa kwajili ya <strong>binadamua</strong> <strong>kusoma na kuelewa</strong>  alafu <strong>mashine</strong> <strong>"komputa"</strong> <strong>huzitumia</strong> <strong>"execute"</strong> pale zinapo hitaji.

kwa <strong>mantiki</strong> hiyo basi sisi tumeamua <strong>kuzisimulia(chambua)/"fafanua"</strong>  kwa lugha ya <strong>kiswahili</strong> 

ili iwe <strong>rahisi</strong> kwa mtu <strong>yoyote</strong> yule amabaye anajua lughaa ya <strong>kiswahili</strong> kufuatilia makala haya na hatimaye 
<strong>kunufaika</strong> nayo kwa namna moja au nyingine.
</p>

<hr />

{% include "page/contact-form.njk" %}

